/********** Document elements **********/

h1 {
  text-align: center;
  line-height: 100%;
  margin-bottom: 0px;
}

h2 {
  line-height: 100%;
  margin-bottom: 0px;
}

p.heading {
  text-align: center;
}

p.highlight {
  color: red;
  font-weight: bold;
}

table {
  margin: 0 auto;
  font-size: 12pt;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

/********** Figures **********/

.figure-outer {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  background: #ddd;
  border: 1px solid black;
  font-size: 20pt;
}

.figure-outer-large {
  width: 600px;
  height: 600px;
}

.figure-surface {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-centered {
  text-align: center;
}

/********** Figure - Complex Plane **********/

#figure-complex-plane {
  font-size: 20pt;
}

/********** Figure - Complex Addition **********/

#figure-complex-addition {
  font-size: 20pt;
}

/* Slider for z2 */

#figure-complex-addition .slider-2 {
  position: absolute;
  right: -100px;
}

/********** Figure - Complex Plane **********/

#figure-complex-scaling {
  font-size: 20pt;
}

.slider-scale-factor {
  width: 100%;
  margin: 20px 0;
}

/********** Vertical angle slider **********/

.slider-angle {
  position: absolute;
  width: 20px;
  height: 320px;  /* 400px - 2*margin */
  margin: 40px 0;
  right: -40px;
}

.slider-angle-prompt {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -5px 0;
  right: -40px;
}

.slider-angle-text {
  position: absolute;
  width: 20px;
  height: 320px;
  margin: 40px 0;
  right: -75px;
}

.angle-text {
  font-size: 12pt;
  color: black;
  opacity: 0.5;
}

.angle-text-special {
  font-size: 20pt;
  color: black;
  opacity: 1;
}

.angle-text-negative {
  color: red;
}

.ui-slider .ui-slider-handle {
  height: 1.2em;
  width: 1.2em;
  /*padding-left: 5px;*/
}

/********** Horizontal slider **********/

.slider-horiz-prompt {
  display: inline-block;
  width: 20%;
  text-align: right;
}

.slider-horiz {
  display: inline-block;
  width: 59%;
}

.slider-horiz-text {
  display: inline-block;
  width: 15%;
}

/********** Magnitude **********/

.magnitude {
  text-align: center;
}

/********** d3 **********/

.grid-line {
  fill: none;
  stroke: #aaa;
  stroke-width: 1;
}

.line {
  fill: none;
  stroke: #555;
  stroke-width: 2;
}

.line-thin {
  fill: none;
  stroke: #999;
  stroke-width: 1;
}

.line-dashed {
  fill: none;
  stroke: #999;
  stroke-width: 2;
  stroke-dasharray: 3, 3;  
}

.triangle {
  stroke: black;
  stroke-width: 2;
  fill: red;
  opacity: 0.5;
}

.fill-blue {
  fill: blue;
  opacity: 0.5;
}

.circle {
  stroke: black;
  stroke-width: 2;
  fill: red;
  opacity: 0.5;
  cursor: move;
}

.fill-green {
  fill: green;
}

.fill-black {
  fill: black;
}

/*--------------------------------*/

#slider {
  margin-top: 20px;
  height: 100px;
}


/*--------------------------------*/
/* No longer used? */

#math-outer {
  position: relative;
  width: 600px;
  height: 600px;
  background: #ddd;
  border: 1px solid black;
  font-size: 20pt;
  margin: 20px auto;
}

#math-surface {
  position: absolute;
  width: 600px;
  height: 600px;
}

#math {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  /*background: yellow;*/
  opacity: 0.5;
}

/*--------------------------------*/
/* No longer used? */

#angle {
  height: 50px;
}

#angle .slider-text-1 {
  position: relative;
  width: 50px;
  height: 40px;
  margin-top: -5px;
  vertical-align: middle;
}

.angle-inner {
  position: absolute;
  top: 50%;
  width: 200px;
  transform: translate(0%,-50%);
}

.angle-slider-unit {
  font-size: 10pt;
  color: #aaa;
}

