.triangle {
  stroke: black;
  stroke-width: 2;
  fill: red;
  opacity: 0.5;
}

.circle {
  stroke: black;
  stroke-width: 2;
  fill: red;
  opacity: 0.5;
  cursor: move;
}

.fill-green {
  fill: green;
}

.fill-black {
  fill: black;
}


/*--------------------------------*/

#math-outer {
  position: relative;
  width: 600px;
  height: 600px;
  background: #ddd;
  border: 1px solid black;
  font-size: 20pt;
  margin: 20px auto;
}

#math-surface {
  position: absolute;
  width: 600px;
  height: 600px;
}

#math {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  /*background: yellow;*/
  opacity: 0.5;
}

.grid-line {
  fill: none;
  stroke: #555;
  stroke-width: 1;
}

.line {
  fill: none;
  stroke: #555;
  stroke-width: 2;
}

/*--------------------------------*/

#angle {
  height: 50px;
}

#angle .slider-text-1 {
  position: relative;
  width: 50px;
  height: 40px;
  margin-top: -5px;
  vertical-align: middle;
}

.angle-inner {
  position: absolute;
  top: 50%;
  width: 200px;
  transform: translate(0%,-50%);
}

.angle-slider-unit {
  font-size: 10pt;
  color: #aaa;
}

.angle-text {
  font-size: 12pt;
  color: #aaa;
}

.angle-text-special {
  font-size: 20pt;
  color: black;
}
