body {
  font-family: Verdana, 'DejaVu Sans', sans-serif;
  font-size: 14pt;
}

.ui-slider .ui-slider-handle {
  height: 1.4em;
  width: 1.4em;
  /*padding-left: 5px;*/
}

section {
  visibility: hidden;
}

div {
  font-size: 14pt;
}

p {
  font-size: 14pt;
}

table {
  font-size: 14pt;
}

ul {
  font-size: 14pt;
}

ul.buttons li {
  margin-bottom: 10px;
}

li {
  margin-bottom: 0px;
}

h1 {
  font-size: 40pt;
  margin-top: 200px;
}

h2.subtitle {
  font-size: 20pt;
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30pt;
}

/* Main container */

#outer-container {
  width: 1000px; /* 980px; */
  padding: 0px 0px 10px 0px;
  margin: 0 auto;
  /*background: gray;*/
}

#container {
  position: relative;
	width: 1000px; /* 960px; */
	margin: 0 auto;
	margin-top: 40px; /* if NO background */
	font-size: 12pt;
	line-height: 150%;
  /*background: #aaa;*/
}

#slide-navigation {
  position: fixed;
  width: 100px;
  height: 30px;
  bottom: 10px;
  right: 10px;
  font-size: 10pt;
  text-align: center;
}

#slide-navigation div {
  display: inline-block;
  font-size: 10pt;
  user-select: none;
  cursor: pointer;
  color: blue;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.box-2-1 {
  float: left;
  width: 400px;
  /*background: #aff;*/
}

.box-2-2 {
  float: right;
  padding-right: 110px;
  width: 480px;
  /*background: #ffa;*/
}

.text-block {
  display: table;
  margin: 0 auto;
  /*background: #faf;*/
}

.figure-outer {
  position: relative;
  width: 480px;  /* see .box-2-2 */
  height: 480px;
  margin: 20px auto;
  background: #ddd;
  border: 1px solid black;
  font-size: 20pt;
}

#figure-complex-unit .equation {
  width: 550px;
}

#figure-complex-addition .slider-2 {
  display: none;;
}

.slider-angle-text {
  height: 150px;
}

.angle-text {
  font-size: 10pt;
}

.angle-text-special {
  font-size: 16pt;
}

.angle-text-negative {
  /*font-size: 10pt;*/
}
