/********** Document elements **********/

h1 {
  text-align: center;
  line-height: 100%;
  margin-bottom: 0px;
}

h2.subtitle {
  text-align: center;
  line-height: 100%;
  margin-top: 10px;
  font-size: 14pt;
  font-weight: normal;
}

h2 {
  line-height: 100%;
  margin-bottom: 0px;
}

p.heading {
  text-align: center;
}

p.highlight {
  color: red;
  font-weight: bold;
}

table {
  margin: 0 auto;
  font-size: 12pt;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: center;
}

pre {
  font-family: Consolas, Menlo, DejaVu Sans Mono, Monaco, monospace;
  font-size: 12pt;
}

/********** Containers **********/

body {
  font-family: Verdana;
}

#container {
  width: 100%;
  text-align: center;
}

/********** Page footer **********/

.page-footer {
  font-size: 10pt;
  color: #666;
  margin-top: 30px;
  margin-bottom: 20px;
}

.page-footer p {
  margin: 0 0;
}

.page-footer .last-update{
  color: black;
  font-weight: bold;
}

.page-footer img {
  margin-right: 5px;
  vertical-align: middle;
  opacity: 0.8;
}

.page-footer a {
 color: #666; 
}

.credits {
  color: #aaa;
}

.credits a {
  color: #aaa;
}


/********** Report elements **********/

.summary {
  display: inline-block;
  width: 880px;
  /*height: 300px;*/
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  border: 1px solid #aaa;
  border-radius: 10px;
  font-size: 12pt;
}

.user-summary {
}

.user-id-summary {
  display: inline-block;
  min-width: 320px;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.text-summary {
}

.exercise-summary {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.user {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-top: 1px solid gray;
}

.user-id {
  font-size: 18pt;
  margin-bottom: 10px;
}

.exercise {
  display: inline-block;
  width: 280px;
  min-height: 150px;
  vertical-align: top;
  background: #eee;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

.correct {
  background: #cfc;
}

.incorrect {
  background: #fcc;
}

.exercise-id {
  font-weight: bold;
}

.exercise-code {
  display: inline-block;
  text-align: left;
}

