#lecture-table-quadratic table caption {
  font-size: 18pt;
  margin-bottom: 10px;
  margin-top: 10px;
}

#lecture-table-quadratic table th {
  font-size: 18pt;
  border: 3px solid green;
}

#lecture-table-quadratic table td {
  font-size: 18pt;
  border: 3px solid green;
}

.large-text-style {
  font-size: 40pt;
  font-weight: bold;
  color: #78e;
  margin-bottom: 20px;
}

/* Examples of fade effects */

.effect p {
  padding: 10px;
  transition: all 1s ease;
  /* May also need:
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
  */
}

.effect-background p {
  /*border: 2px solid black;*/
  /*opacity: 1;*/
  background: #ff9;
}


